{% extends 'game/base-cad-log.html' %}
{% load static %}
{% block content %}
    <div class="login__container">
        <div class="login-campos">
            <div class="container__logo">
                <a href="{% url 'index' %}" class="campos__logo">    
                    <img class="logo__img" src="{% static 'assets/logo.png' %}">
                </a>
            </div>
            <p class="campos__titulo">Faça seu cadastro agora!</p>
                <form class="campos__forms" action="{% url 'cadastro' %}" method="POST">
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                        <div class="form-grupo">
                            <label for="{{ field.id_for_label }}"></label>
                            {{ field }}
                        </div>
                    {% endfor %}
                    <div class="form-grupo form-grupo-checkbox">
                        <input class="form__checkbox" type="checkbox" id="termos" name="termos" required >
                        <label  class="checkbox__frase" for="termos">Eu li e aceito os <a href="#" class="checkbox__frase-link">Termos de uso</a></label>
                    </div>
                    <div class="form-grupo">
                        <button class="form-botao" type="submit">Cadastrar</button>
                    </div>
                    <hr>
                    <div class="form-grupo">
                        <button class="form-botao form-botao-google"><img src="{% static 'assets/google-logo.png' %}"> Fazer login com o Google</button>
                    </div>
                    <p class="campos__frase-login">Já tem conta?<a class="campos__link-login" href="{% url 'login' %}">Faça seu login aqui</a></p>
                </form>
        </div>
    </div>
{% endblock %}

