{% extends 'game/base-cad-log.html' %}
{% load static %}
{% block content %}
    <div class="login__container">
        <div class="login-campos">
            <div class="container__logo">
                <a href="{% url 'index' %}" class="campos__logo">    
                    <img class="logo__img" src="{% static 'assets/logo.png' %}">
                </a>
            </div>
            <p class="campos__titulo">É bom te ver novamente!</p>
                <form class="campos__forms" action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                        <div class="form-grupo">
                            <label for="{{ field.id_for_label }}"></label>
                            {{ field }}
                        </div>
                    {% endfor %}
                    <div class="form-switch">
                        <div class="switch-container">
                            <label class="switch">
                                <input class="input" type="checkbox">
                                <span class="slider round"></span>
                            </label>
                            <p class="switch-frase">Lembrar senha</p>
                        </div>
                        <a href="#" class="switch-link">Esqueceu a senha?</a>
                    </div>
                    <div class="form-grupo">
                        <button class="form-botao" type="submit">Login</button>
                    </div>
                    <hr>
                    <div class="form-grupo">
                        <button class="form-botao form-botao-google"><img src="{% static 'assets/google-logo.png' %}"> Fazer login com o Google</button>
                    </div>
                </form>
        </div>
    </div>
{% endblock %}
