{% load static %}
<footer class="rodape">
    <div class="rodape__conteudo">
        <img src="{% static 'assets/logo.png' %}">
        <h1 class="rodape__texto">Copyright © 2023 Indie Labs |Todos os direitos reservados</h1>
        <div class="rodape__links">
            <a href="#"><img src="{% static 'assets/face-button.png' %}" ></a>
            <a href="#"><img src="{% static 'assets/tw-button.png' %}" ></a>
            <a href="#"><img src="{% static 'assets/in-button.png' %}" ></a>
            <a href="#"><img src="{% static 'assets/yt-button.png' %}" ></a>
            <a href="#"><img src="{% static 'assets/insta-button.png' %}" ></a>
        </div>
    </div>

</footer>