{% load static %}
<header class="cabecalho">
        <a href="{% url 'index' %}" class="cabecalho__logo">    
            <img src="{% static 'assets/logo.png' %}">
        </a>
        <div class="cabecalho_container">
            <nav class="cabecalho_links">
                <a class="cabecalho_links__link" href="{% url 'logout' %}">Logout</a>
                <a class="cabecalho_links__link" href="{% url 'todosJogos' %}" >Todos os jogos</a>
                <a class="cabecalho_links__link" href="#" >Categorias</a>
                <a class="cabecalho_links__link" href="#" >Sobre nós</a>
            </nav>
            <div class="cabecalho__busca">
                <form action="{% url 'buscar' %}">
                    <input type="text" name="buscar" id="campoPesquisa" class="cabecalho__pesquisa" placeholder="Pesquisar">
                </form>
            </div>
            <div class="cabecalho__botoes">
                <a href="{% url 'login' %}" class="cabecalho__botao1"><img src="{% static 'assets/user.png' %}">Entrar</a>
                <a  href="{% url 'cadastro' %}" class="cabecalho__botao2">Criar conta</a>
            </div>
        </div>
</header>