@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --background-color:#301341;
    --cor-secundaria:#9B65EC;
    --font-color: #FFFFFF;
    --footer-color: #21022E;

    --fonte-principal: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    overflow-x: hidden;
}

.cabecalho {
    background-color: var(--footer-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19.5px 16px;
}

.cabecalho_container {
    display: flex;
    gap: 32px;
    align-items: center;
}

.cabecalho_links {
    display: flex;
    gap: 24px;
}

.cabecalho_links__link {
    font-family: var(--fonte-principal);
    color: var(--font-color);
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.cabecalho__pesquisa {
    padding: 17px 0px 17px 16px;
    width: 285px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    font-family: var(--fonte-principal);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.cabecalho__pesquisa::placeholder{
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    color: var(--cor-secundaria);
}

.cabecalho__pesquisa:focus {
    outline: none;
}

.cabecalho__pesquisa::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}
  
.cabecalho__pesquisa::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}
  
.cabecalho__pesquisa::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

.cabecalho__botoes {
    display: flex;
}

.cabecalho__botao1 {
    padding: 15px 18px;
    display: flex;
    align-items: center;
    gap: 3px;
    font-family: var(--fonte-principal);
    color: var(--font-color);
    font-weight: 600;
    text-decoration: none;
}


.cabecalho__botao2 {
    padding: 15px 18px;
    font-family: var(--fonte-principal);
    color: var(--font-color);
    font-weight: 600;
    text-decoration: none;
    background-color: var(--cor-secundaria);
    border-radius: 6px;
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.principal__container {
    width: 1320px;
}

.principal__titulo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 48px 0px 32px 0px;
}

.principal__texto {
    font-family: var(--fonte-principal);
    font-size: 36px;
    color: var(--font-color);
    font-weight: 800;
}

.principal__setas {
    display: flex;
    gap: 16px;
}

.swiper-slide img{
    width: 100%;
}

.swiper-button-next:after, .swiper-button-prev:after {
    content: none !important;
}

.swiper-button-next, .swiper-button-prev {
    position: static !important;  /* Remove absolute positioning */
    top: auto !important;  /* Reset top positioning */
    width: auto !important;  /* Reset width */
    height: auto !important;  /* Reset height */
    margin-top: 0 !important;  /* Reset margin-top */
    z-index: 10 !important;  /* Ensure the buttons are on top */
    cursor: pointer !important;  /* Keep the cursor pointer */
    display: flex !important;  /* Keep display flex */
    align-items: center !important;  /* Keep items centered */
    justify-content: center !important;  /* Keep items centered */
    color: initial !important;  /* Reset color */
    background-size: contain !important;  /* Ensure background image is contained */
    background-repeat: no-repeat !important;  /* Ensure background image doesn't repeat */
    background-position: center !important;  /* Center the background image */
}

.swiper-button-prev {
    background-image: url('{% static "assets/left-icon.png" %}') !important;
}
.swiper-button-next {
    background-image: url('{% static "assets/right-icon.png" %}') !important;
}

.swiper-pagination {
    position: initial;
    margin: 0.5em 0;
}

.swiper__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-decoration: none;
    margin-bottom: 88px;
}

.swiper__nome {
    font-family: var(--fonte-principal);
    color: var(--font-color);
    font-size: 18px;
    font-weight: 800;
}

.principal__game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game__container {
    width: 1320px;
    margin-bottom: 80px;
}

.principal__voltar {
    display: flex;
    align-items: center;
    gap: 14px;
    text-decoration: none;
    margin: 54px 0px 42px 0px;
}

.voltar__texto {
    color: var(--font-color);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 600;
    
}

.game__conteudo {
    display: flex;
    align-items: center;

}

.conteudo__imagens {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-right: 24px;
}

.conteudo__informacoes {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: 20px;
}

.informacoes__linha {
    position: absolute
}

.informacoes__nome {
    color: var(--font-color);
    font-family: var(--fonte-principal);
    font-size: 120px;
    font-weight: 800;
}

.conteudo__container {
    display: flex;
    align-items: center;
}

.container__infos {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.linha1 {
    z-index: 2;
}

.linha1 {
    z-index: 1;
}

.informacoes__descricao {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 48px 0px;
}

.descricao__texto {
    color: var(--font-color);
    font-family: var(--fonte-principal);
    font-size: 18px;
    font-weight: 400;
    width: 573px;
}

.infomacoes__adicionais {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.adicionais__titulo {
    color: var(--font-color);
    font-family: var(--fonte-principal);
    font-size: 36px;
    font-weight: 800;
}

.adicionais__texto {
    color: var(--font-color);
    font-family: var(--fonte-principal);
    font-size: 20px;
    font-weight: 400;
}

.conteudo__img-principal {
    z-index: 2;
}

.rodape {
    background-color: var(--footer-color);
    border-top: solid 1px var(--font-color);
    padding: 24px 0;
}

.rodape__conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 153px;
}

.rodape__texto {
    font-family: var(--fonte-principal);
    font-size: 16px;
    color: var(--font-color);
    font-weight: 400;
}

.rodape__links {
    display: flex;
    gap: 16px;
}
